* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #545454;
}
html,
body {
  background-color: rgba(32, 33, 36, 1);
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.wrapper.indexPage {
  justify-content: center;
}

.mainSection {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.google-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 33, 36, 1);
}
